@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        @apply font-Montserrat
    }
    .hero{
        @apply w-screen grid lg:grid-cols-2 grid-flow-row gap-5 md:px-32 px-10 py-24 md:py-56
    }
    .landing-page-hero{
        background: url('./assets/images/hero.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        @apply bg-opacity-70
    }
    .active{
        @apply bg-yellow-300 px-8 py-3
    }

}